<div class="mdl-grid flex centerY">
  <div class="info_user" style="width:100%;">
    <h3>Perfil</h3>
    <p>Nombre del solcitante: <span class="strong"><%= "#{current_recruit.name} #{current_recruit.lastname}" %></span></p>
    <p>Direccion de correo: <span class="strong"><%= current_recruit.email %></span></p>
    <p>Clave: <span class="strong"><%= "recruit_key" %></span></p>
  </div>
</div>
