<!DOCTYPE html>
<html>
  <head>
    <title>EasyCV</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>
    <header class="login_header">
      <div class="">
        <h2>EasyCV <!-- <span>Usuarios</span> --> </h2>
      </div>
    </header>
    <main class="flex centerX centerY">
      <div class="login_container">
        <div class="this_is_a_login_form">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
